$appOpenTitleIconSize: 38px;
.app-open-title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: $appOpenTitleIconSize;
  background-color: #fff;
  z-index: 99999;
  display: flex;
  padding: 0 22px;

  box-shadow: 0 0 8px #888;

  &.disabled {
    .operation-icon {
      cursor: not-allowed;
      pointer-events: none;
    }
  }

  // .operation-start {
  //   justify-content: flex-end;
  //   height: 100%;
  //   display: flex;
  // }

  .operation-end,
  .operation-start {
    justify-content: flex-end;
    height: 100%;
    display: flex;
  }

  .operation-title {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    > .icon {
      width: $appOpenTitleIconSize;
      height: $appOpenTitleIconSize;
      display: flex;
      align-items: center;
      justify-content: center;

      > img {
        max-width: 23px;
        max-height: 23px;
        vertical-align: middle;
        user-select: none;
      }
    }

    > .desc {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      > span {
        font-size: 18px;
        font-weight: bold;
        user-select: none;
      }
    }
  }

  .operation-icon {
    width: $appOpenTitleIconSize;
    height: $appOpenTitleIconSize;
    display: flex;
    align-items: center;
    justify-content: center;

    // svg {
    //   color: #888;
    // }

    // &:hover {
    //   svg {
    //     color: black;
    //   }
    // }
  }
}
