@mixin sidebar {
  display: flex;
  flex-direction: column;
  padding: 6px 16px;
  width: 306px;
  height: 100%;
  overflow: hidden;
  box-shadow: 0 0 8px #888;
}

@mixin flex-text-overflow {
  display: flex;

  > span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 0;
    flex: 1;
  }
}
