@use '../../../../styles/variables';

.window-toolbar {
  width: 100%;
  height: 42px;
  background-color: variables.$darkPurple;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
