@font-face {
  font-family: "iconfont"; /* Project id 3643366 */
  src: url('iconfont.woff2?t=1667036820099') format('woff2'),
       url('iconfont.woff?t=1667036820099') format('woff'),
       url('iconfont.ttf?t=1667036820099') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shenfenzheng:before {
  content: "\e649";
}

.icon-fanhui:before {
  content: "\eb44";
}

.icon-contact:before {
  content: "\e763";
}

.icon-comment-dots:before {
  content: "\f287";
}

.icon-yingyong:before {
  content: "\e640";
}

.icon-yunyingpan:before {
  content: "\e648";
}

